.carousel-product-image {
    width: 100%;
}

.carousel-preview-image {
    width: 100%;
    height: 100%;
}
.preview-image-row {
    padding-bottom: 10px;
}

body {
    background-color: #3D4450;
}

.carousel-product {
    background-color: #4e697d;
    color: #FFFFFF;
    padding-left: 0;
    padding-right: 0;
}

.carousel-control-prev {
    left: -120px;
}

.carousel-control-next {
right: -120px;
}